header {
  height: 60px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    padding: 0 2rem;

    .icon-hamburguer {
      display: none;
    }
  }

  .nav-menu {

    .nav-menu-container {
      display: flex;
      align-items: center;
      padding: 0 2rem;

      .nav-search {
        margin-right: 1rem;
        i {
          font-size: 1.3rem;
        }
      }
      .nav-options {
        display: flex;

        .language {
          margin-right: 1rem;
          font-size: 1.1rem;
        }

        .dark-mode {
          i{
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    background: azure;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: column;
    align-items: inherit;

    .logo {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .logo-img {
        width: 56px;
        height: 40px;
      }
      .menu-icon {
        //TODO: ver como hacer esto
        transition: 2s ease;
      }
    }

    .nav-menu {
      //flex-direction: column;
      //align-items: center;
      //z-index: 1;
      background: aliceblue;
      //transition: ease 5s;

      .nav-menu-container {
        display: revert;
        width: 60vw;
        height: calc(100vh - 60px);
        margin: 0 auto;

        .nav-options {
          padding: 1rem 0;
          justify-content: space-between;

          .language {

          }
        }
      }
    }
  }
  //.backdrop {
  //  z-index: 900;
  //  position: fixed;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  //background-color: #000;
  //  //// makes the below elements visible to a degree.
  //  //opacity: 0.95;
  //  backdrop-filter: blur(10px);
  //}
}
