<header>
  <div class="logo">
    <h1 class="logo-img" [routerLink]="''">Logo</h1>
    <i *ngIf="isMobile"
       class="menu-icon"
       [ngClass]="{'bi bi-list': !isMenuOpen }"
       (click)="toggleMenuMobile()">
    </i>
  </div>
  <nav class="nav-menu" *ngIf="((isMobile && isMenuOpen) || !isMobile)">
    <div class="nav-menu-container">
      <div class="nav-search">
        <i *ngIf="!isMobile" class="bi bi-search-heart"></i>
        <app-search *ngIf="isMobile"></app-search>
      </div>
      <div class="nav-options">
        <div class="language">
          <select>
            <option>ES</option>
            <option>EN</option>
          </select>
        </div>
        <div class="dark-mode">
          <i class="bi bi-moon-stars-fill"></i>
        </div>
      </div>
    </div>
  </nav>
  <div class="backdrop-layer" (click)="toggleMenuMobile()" *ngIf="isMobile && isMenuOpen"></div>
</header>
