@import "theme";
header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;


  .brand {
    flex-basis: 70%;
    padding: 0.5rem 1.5rem;

    .brand-title {
      font-size: 1.6rem;
    }
    .icon {
      font-size: 2rem;
    }
  }

  .menu-mobile {
    font-size: 2rem;
    color: var(--action-color);
    flex-basis: 30%;
    align-self: center;
    text-align: end;
    padding: .5rem 2rem;
  }

  .hide-nav {
    display: none;
  }

  .nav-menu {
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    height: 100vh;
    width: 70%;
    z-index: 3;

    .nav-menu-container {
      display: flex;
      flex-wrap: wrap;

      .search {
        flex-basis: 100%;

        .search-icon {
          font-size: 1.2rem;
          color: var(--action-color);
        }
      }
        .language {
          flex-grow: 1;
          margin-right: 0;
          font-size: 1.3rem;
          .dropdown {
            position: relative;
            color: var(--action-color);

          }
          .options {
            position: absolute;
            border-radius: 5px;
            background-color: white;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
            padding: .2rem 0;

            button {
              background: transparent;
              border: none;
              padding: 0.4rem 1.2rem;
              width: 100%;

              &:hover {
                background-color: #f2f2f2;
              }
            }
          }
        }
    }
  }

  .backdrop-layer {
    background: rgba(38, 38, 38, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0;
  }
}

// D·e·s·ĸ·t·o·þ
@media (min-width: 768px) {
  header {
    justify-content: space-between;

    .menu-mobile {
      display: none;
    }

    .brand {
      padding: .5rem 2rem;

      .icon{
        font-size: 2.5rem;
      }

      .brand-title {
        font-size: revert;
      }
    }

    .nav-menu {
      display: flex;
      position: static;
      height: auto;
      width: auto;
      align-items: center;
      background: var(--base-color);
      padding: .5rem 1.5rem;

      .nav-menu-container {
        flex-wrap: nowrap;

        .search {
          flex-basis: auto;
          .search-icon {
            margin-right: 1rem;
          }
        }

          .language {
            margin-right: 1rem;
            font-size: 1.2rem;
            //flex-grow: 0;

              .dropdown{
                .bi-chevron-down {
                  font-size: .8em;
                }
              }

          }
      }
    }
    .backdrop-layer  {
      display: none;
    }
  }
}
