@import "theme";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //position: fixed;
  //top: 0;
  width: 100%;

  .brand {
    padding: 1rem 2rem;
    display: flex;

    .icon {
      font-size: 2.5rem;
    }
  }

  .nav-menu {
    padding: 1rem 1.5rem;
    .nav-menu-container {
      display: flex;
      align-items: center;

      .nav-search {
        margin-right: 1rem;
        .heart-icon {
          font-size: 1.5rem;
          color: var(--action-color);
        }
      }
      .nav-options {
        display: flex;
        align-items: center;

        .language {
          margin-right: 1rem;
          font-size: 1.4rem;
          .dropdown {
            position: relative;
            padding: .2rem .3rem;
            color: var(--action-color);

            .default-lang {
              margin-right: 5px;
            }
            .bi-chevron-down {
              font-size: .8em;
            }

          }
          .options {
            position: absolute;
            border-radius: 5px;
            background-color: white;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
            padding: .2rem 0;

            button {
              background: transparent;
              border: none;
              padding: 0.4rem 1.2rem;
              width: 100%;

              &:hover {
                background-color: #f2f2f2;
              }
            }
          }
        }

        .dark-mode {
          .icon{
            font-size: 1.1rem;
            color: var(--action-color);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .brand {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1rem;
      width: 100%;

      .icon{
        font-size: 2.2rem;
      }

      .brand-img {
        font-size: 1.8rem;
      }
      .menu-icon {
        font-size: 2rem;
        color: var(--action-color);
      }
    }

    .nav-menu {
      background: var(--primary-color);
      width: 80vw;
      position: fixed;
      top: 0;
      z-index: 3;
      box-shadow: var(--box-shadow);

      .nav-menu-container {
        display: revert;
        height: 100vh;

        .nav-search {
          margin-right: 0;

          .brand-text {
            text-align: center;
          }
        }

        .nav-options {
          padding: 1rem 0;
          justify-content: space-between;

          .language {
            margin-right: 0;
            font-size: 1.3rem;
          }
        }
      }
    }
    .backdrop-layer  {
      background: var(--backdrop);
      width: 100vw;
      height: 100vh;
      z-index: 2;
      position: fixed;
      top: 0;
    }
  }
}
