<header>
  <div class="brand">
    <h1 class="brand-img" [routerLink]="''">
      <i class="bi bi-cloudy"></i> easy weather
    </h1>
    <i *ngIf="isMobile"
       class="menu-icon"
       [ngClass]="{'bi bi-list': !navServ.isMenuOpen }"
       (click)="toggleMenuMobile()">
    </i>
  </div>
  <nav class="nav-menu" *ngIf="((isMobile && navServ.isMenuOpen) || !isMobile)">
    <div class="nav-menu-container">
      <div class="nav-search">
        <i *ngIf="!isMobile" class="bi bi-search-heart heart-icon" [routerLink]="''"></i>
        <app-search *ngIf="isMobile"></app-search>
      </div>
      <div class="nav-options">

        <div class="language">
          <div class="dropdown">
            <span class="default-lang">{{defaultLang | uppercase}}</span>
            <span (click)="toggleOption()"><i class="bi bi-chevron-down"></i></span>
          </div>
          <div class="options" *ngIf="langMenuClicked">
            <div><button (click)="changeLang('es')">ES</button></div>
            <div><button (click)="changeLang('en')">EN</button></div>
          </div>
        </div>

        <div class="dark-mode">
          <app-dark-mode></app-dark-mode>
        </div>

      </div>
    </div>
  </nav>
  <div class="backdrop-layer" (click)="toggleMenuMobile()"
       *ngIf="isMobile && navServ.isMenuOpen"></div>
</header>
