.card {
  display: flex;
  justify-content: center;

  .card-container {
    width: 50vw;
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: aliceblue;

    .card-header {
      order: 2;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}



@media (max-width: 768px) {
  .card {
    .card-container {
      display: revert;

      .card-header {
        //display: flex;
        //flex-direction: column;
        //align-items: center;
      }

      .see-more {
        display: block;
        text-align: end;
      }

      .hide {
        display: none;
      }
    }
  }
}
