@import "theme";

.card {
  display: flex;
  justify-content: center;

  .card-container {
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 50vw;
    //border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    .card-header {
      order: 2;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}



@media (max-width: 768px) {
  .card {
    .card-container {
      display: revert;

      .card-header {
      }

      .see-more {
        display: block;
        text-align: end;
        color: var(--action-color);
      }

      .hide {
        display: none;
      }
    }
  }
}
