
<div *ngIf="(weather$ | async) as weather" class="card">
  <div class="card-container">
    <div class="card-header">
      <div class="title"><h3>{{weather.name}}, {{weather.sys.country}}</h3></div>
      <div class="weather">
        <i class="icons"
           [ngClass]="
           { 'bi bi-sun':weather.weather[0].icon === '01d' ||weather.weather[0].icon === '01n',
             'bi bi-cloud-sun':weather.weather[0].icon === '02d'||weather.weather[0].icon === '02n',
             'bi bi-cloud':weather.weather[0].icon === '03d' || weather.weather[0].icon=== '03n',
             'bi bi-clouds':weather.weather[0].icon === '04d'|| weather.weather[0].icon=== '04n',
             'bi bi-cloud-drizzle':weather.weather[0].icon === '09d'||weather.weather[0].icon === '09n',
             'bi bi-cloud-rain':weather.weather[0].icon === '10d'||weather.weather[0].icon === '10n',
             'bi bi-cloud-lightning':weather.weather[0].icon === '11d'||weather.weather[0].icon === '11n',
              'bi bi-snow2':weather.weather[0].icon === '13d'||weather.weather[0].icon=== '13n',
             'bi bi-water':weather.weather[0].icon === '50d' || weather.weather[0].icon=== '50n'}">
        </i>
      </div>

      <div class="temp">
        <p class="main">{{weather.main.temp.toFixed()}}°C</p>
        <p class="real-feel"><span translate>weather.card.real</span>
          {{weather.main.feels_like.toFixed()}}°</p>
      </div>
    </div>

    <div class="card-content">

      <div class="min-max-temp">
        <div class="weather-description-fields">
          <p class="temp"><i class="bi bi-arrow-up icon"></i>Temp.max</p>
          <p class="weather-data">{{weather.main.temp_max.toFixed()}}°</p>
        </div>

        <div  class="weather-description-fields">
          <p class="temp"><i class="bi bi-arrow-down icon"></i>Temp.min</p>
          <p class="weather-data">{{weather.main.temp_min.toFixed()}}°</p>
        </div>
      </div>

      <div class="rise-set">
        <div class="weather-description-fields">
          <p class="sun"><i class="bi bi-sunrise icon"></i>
            <span translate>weather.card.sunrise</span></p>
          <p class="weather-data">{{weather.sys.sunrise |customDate |date:'H:mm a'}}</p>
        </div>

        <div class="weather-description-fields">
          <p class="sun"><i class="bi bi-sunset icon"></i>
            <span translate>weather.card.sunset</span></p>
          <p class="weather-data">{{weather.sys.sunset | customDate| date:'H:mm a'}}</p>
        </div>
      </div>

    </div>
  </div>
</div>




