@import "theme";

.card {

  .card-container {
    background-image: var(--bg-weather-card);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);


    .card-header {
      background-color: var(--bg-top-transparent);
      border-radius: 5px;
      padding: 0 .5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .title {
        flex-basis: 100%;
      }

      .weather {
        .icons {
          font-size: 5rem;
          color: white;
          filter: drop-shadow(0 1px 5px var(--base-color));
        }
      }

      .temp {
        .main {
          text-align: center;
          font-size: 2rem;
          font-family: 'Tilt Neon', cursive;
        }
      }
    }

    .card-content {
      margin-top: 1rem;
      background-color: var(--bg-top-transparent);
      border-radius: 5px;
      padding: .5rem;

      .icon {
        color: var(--primary-color);
      }

      .weather-description-fields {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--primary-color);

        .sun {
          display: flex;
        }

        .icon{
          font-size: 1.2rem;
          color: white;
          margin-right: .5rem;
        }

      }
      .rise-set {
        .weather-description-fields {
          &:nth-last-child(1) {
            border-bottom: none;
          }
        }
      }
    }
  }
}


// D·e·s·k·t·ø·þ
@media (min-width: 768px) {
  .card {
    .card-container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .card-header {
        display: block;
        text-align: center;
        flex-grow: 1;

        .title {
          font-size: 1.7rem;
        }

        .weather {
          flex-basis: 100%;
        }

        .temp {
          .main {
            font-size: 2.4rem;
          }
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin-top: 0;
        padding: 0;

        .min-max-temp {
          margin-bottom: 1rem;
          display: flex;
          gap: 1rem;
        }

        .rise-set {
          display: flex;
          gap: 1rem;

          .weather-description-fields {
            display: flex;
            background-color: var(--bg-top-transparent);
            flex-grow: 1;

            .sun {
              align-items: center;
              margin-right: .5rem;

              span{
                font-size: 1.4rem;
              }

              .icon {
                font-size: 1.6rem;
              }
            }
          }
        }

        .weather-description-fields {
          border-bottom:none;
          background-color: var(--bg-top-transparent);
          padding: 1rem;
          border-radius: 5px;
          flex-direction: column-reverse;
          flex-grow: 1;

          .weather-data {
            font-size: 1.8rem;
            font-family: 'Tilt Neon', cursive;
          }


          .temp {
            margin-right: .5rem;
            font-size: 1.5rem;
          }
        }
      }

    }
  }
}

